.blog {
    background-color: #FFFFFF;
    margin:0%;
}

.header {
    height: 76px;
    border-bottom: 1px solid #E3F5F5;
    padding: 1vh 3vh;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.header__cont {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.header__logo {
    margin-right: 3vw;

    width: 51px;
    height: 36px;
}

.header__list {
    display: flex;
    flex-direction: row;
    max-width: 100%;
    gap: 2vw;
    padding:0%;
}
    
.header__item {
    display: block;
    list-style: none;
}

.header__link {
    color:black;
    font-family: 'Montserrat';
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    text-decoration: none;
    white-space:nowrap;
    cursor: pointer;
}

.header__d {
    display: flex;
    flex-direction: row;
    gap: 8px;
    align-items: center;
}

.header__but {
    cursor: pointer;
    font-family: 'Montserrat';
    font-size: 16px;
    font-weight: 700;
    color: #03B2A5;
    padding: 14px 20px 14px 20px;
    font-style: normal;
    background-color: #E3F5F5;
    border: none;
    border-radius: 4px;
    white-space:nowrap;
    margin-left: 12vw;
}

.header__threep {
    display: none;
}

.header_arrow {
    cursor: pointer;
    align-self: center;
    display: block;
}

.main__cont_under {
    display: flex;
    margin: 2vw auto;
    width: 82vw;
    flex-direction: column;
    gap: 4vw;
}

.main__blok {
    display: flex;
    flex-direction: row;
    align-items: center;
}

#main__p {
    font-family: 'Montserrat';
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    color: rgba(51, 51, 51, 0.70);
    margin:0%;
}

.t {
    margin-left: 8px;
}

.main__arrow {
    display: block;
    width: 16px;
    height: 16px;
    rotate: -90deg;
    margin: 0px 0px 0px 4px;
}

.main__blog {
    font-family: 'Montserrat';
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    color: rgba(51, 51, 51, 1);
    margin: 0%;
}

.main__list {
    display: flex;
    flex-direction: row;
    gap: 8px;
    align-items: center;
    list-style:none;
    padding:0%;
    flex-wrap:wrap;
}

.main__item_under {
    gap: 4px;
    display: flex;
    padding: 6px 8px;
    flex-direction: row;
    margin: 0%;
    border: 1px solid #C1C5CD;
    border-radius: 24px;
}

.main__par {
    color: #333;
    font-family: 'Montserrat';
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    margin: 0%;
    white-space: nowrap;
}

.main__background {
    position: absolute;
    z-index: 1;

}

.main__list_bottom {
    position: static;
    z-index: 2;
    list-style: none;
    width: 95vw;
    display: grid;
    grid-template-areas: "post1 post1 post1 post2 post2 post2"
                         "post3 post3 post4 post4 post5 post5"
                         "post6 post6 post7 post7 post8 post8";
    gap: 3vw;
}




@media (max-width: 1000px) {

    .header__list, .header__but {
        display: none;
    }

    .header__threep {
        display: block;
        cursor: pointer;
    }

    .header {
        justify-content:left;
    }

    .header__logo {
        margin-right: 85vw;
    }

}

@media (max-width: 1125px) {

    .header__but {
        margin-left: 3vw;
    }

    .main__cont_under {
        width: 95vw;
    }

}

/*@media (max-width: 414px) and (min-width: 321px) {
    
    .blog, .header, .main, .footer {
        width: 414px;
    }

    .header__logo {
        margin: 19px 0px 19px 24px;

    }

    .header__threep {
        margin: 16px 24px 16px 278px;
    }
    
}

@media (max-width: 320px) {

    .blog, .header, .main, .footer {
        width: 320px;
    }

    .header__logo {
        margin: 11px 0px 11px 16px;

    }

    .header__threep {
        margin: 8px 8px 8px 208px;
    }

} */

@media screen and (max-width: 1280px) {

}