/*FONTS=========================================== */

@font-face {
    font-family: 'Montserrat';
    src: url('../src/FONTS/Montserrat/Montserrat-Bold.woff') format('woff');
    src: url('../src/FONTS/Montserrat/Montserrat-Bold.ttf') format('truetype');
    font-style: normal;
    font-weight: 700;
}

@font-face {
    font-family: 'Montserrat';
    src: url('../FONTS/Montserrat/Montserrat-SemiBold.woff') format('woff');
    src: url('../FONTS/Montserrat/Montserrat-SemiBold.ttf') format('truetype');
    font-style: normal;
    font-weight: 600;
}

@font-face {
    font-family: 'Montserrat';
    
    src: url('../FONTS/Montserrat/Montserrat-Medium.woff') format('woff');
    src: url('../FONTS/Montserrat/Montserrat-Medium.ttf') format('truetype');
    font-style: normal;
    font-weight: 500;
}

@font-face {
    font-family: 'Montserrat';
    src: url('../FONTS/Montserrat/Montserrat-Regular.ttf') format('truetype');
    src: url('../FONTS/Montserrat/Montserrat-Regular.woff') format('woff');
    font-style: normal;
    font-weight: 400;
}

@font-face {
  font-family: 'Montserrat';
  src: url('../FONTS/Montserrat/Montserrat-Italic.ttf') format('truetype');
  src: url('../FONTS/Montserrat/Montserrat-Italic.woff') format('woff');
  font-style: italic;
  font-weight: 400;
}

@font-face {
  font-family: 'OpenSans';
  src: url('../FONTS/Open_Sans/OpenSans-Regular.ttf') format('truetype');
  src: url('../FONTS/Open_Sans/OpenSans-Regular.woff') format('woff');
  font-style: normal;
  font-weight: 400;
}

/* Normalize.css ================================*/

/* Document
   ========================================================================== */

/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */

 html {
    line-height: 1.15; /* 1 */
    -webkit-text-size-adjust: 100%; /* 2 */
  }
  
  /* Sections
     ========================================================================== */
  
  /**
   
  
  /**
   * Render the `main` element consistently in IE.
   */
  
  main {
    display: block;
    padding: 0px;
  }
  
  /**
   * Correct the font size and margin on `h1` elements within `section` and
   * `article` contexts in Chrome, Firefox, and Safari.
   */
  
  h1 {
    font-size: 2em;
    margin: 0.67em 0;

  }
  
  /* Grouping content
     ========================================================================== */
  
  /**
   * 1. Add the correct box sizing in Firefox.
   * 2. Show the overflow in Edge and IE.
   */
  
  hr {
    box-sizing: content-box; /* 1 */
    height: 0; /* 1 */
    overflow: visible; /* 2 */
  }
  
  /**
   * 1. Correct the inheritance and scaling of font size in all browsers.
   * 2. Correct the odd `em` font sizing in all browsers.
   */
  
  pre {
    font-family: monospace, monospace; /* 1 */
    font-size: 1em; /* 2 */
  }
  
  /* Text-level semantics
     ========================================================================== */
  
  /**
   * Remove the gray background on active links in IE 10.
   */
  
  a {
    background-color: transparent;
    text-decoration: none;
    color: #333;
  }
  
  /**
   * 1. Remove the bottom border in Chrome 57-
   * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
   */
  
  abbr[title] {
    border-bottom: none; /* 1 */
    text-decoration: underline; /* 2 */
    text-decoration: underline dotted; /* 2 */
  }
  
  /**
   * Add the correct font weight in Chrome, Edge, and Safari.
   */
  
  b,
  strong {
    font-weight: bolder;
  }
  
  /**
   * 1. Correct the inheritance and scaling of font size in all browsers.
   * 2. Correct the odd `em` font sizing in all browsers.
   */
  
  code,
  kbd,
  samp {
    font-family: monospace, monospace; /* 1 */
    font-size: 1em; /* 2 */
  }
  
  /**
   * Add the correct font size in all browsers.
   */
  
  small {
    font-size: 80%;
  }
  
  /**
   * Prevent `sub` and `sup` elements from affecting the line height in
   * all browsers.
   */
  
  sub,
  sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
  }
  
  sub {
    bottom: -0.25em;
  }
  
  sup {
    top: -0.5em;
  }
  
  /* Embedded content
     ========================================================================== */
  
  /**
   * Remove the border on images inside links in IE 10.
   */
  
  img {
    border-style: none;
  }
  
  /* Forms
     ========================================================================== */
  
  /**
   * 1. Change the font styles in all browsers.
   * 2. Remove the margin in Firefox and Safari.
   */
  
  button,
  input,
  optgroup,
  select,
  textarea {
    font-family: inherit; /* 1 */
    font-size: 100%; /* 1 */
    margin: 0; /* 2 */
  }
  
  /**
   * Show the overflow in IE.
   * 1. Show the overflow in Edge.
   */
  
  button,
  input { /* 1 */
    overflow: visible;
  }
  
  /**
   * Remove the inheritance of text transform in Edge, Firefox, and IE.
   * 1. Remove the inheritance of text transform in Firefox.
   */
  
  button,
  select { /* 1 */
    text-transform: none;
  }
  
  /**
  
  /**
   * Remove the inner border and padding in Firefox.
   */
  
  button::-moz-focus-inner,
  [type="button"]::-moz-focus-inner,
  [type="reset"]::-moz-focus-inner,
  [type="submit"]::-moz-focus-inner {
    border-style: none;
    padding: 0;
  }
  
  /**
   * Restore the focus styles unset by the previous rule.
   */
  
  button:-moz-focusring,
  [type="button"]:-moz-focusring,
  [type="reset"]:-moz-focusring,
  [type="submit"]:-moz-focusring {
    outline: 1px dotted ButtonText;
  }
  
  /**
   * Correct the padding in Firefox.
   */
  
  fieldset {
    padding: 0.35em 0.75em 0.625em;
  }
  
  /**
   * 1. Correct the text wrapping in Edge and IE.
   * 2. Correct the color inheritance from `fieldset` elements in IE.
   * 3. Remove the padding so developers are not caught out when they zero out
   *    `fieldset` elements in all browsers.
   */
  
  legend {
    box-sizing: border-box; /* 1 */
    color: inherit; /* 2 */
    display: table; /* 1 */
    max-width: 100%; /* 1 */
    padding: 0; /* 3 */
    white-space: normal; /* 1 */
  }
  
  /**
   * Add the correct vertical alignment in Chrome, Firefox, and Opera.
   */
  
  progress {
    vertical-align: baseline;
  }
  
  /**
   * Remove the default vertical scrollbar in IE 10+.
   */
  
  textarea {
    overflow: auto;
  }
  
  /**
   * 1. Add the correct box sizing in IE 10.
   * 2. Remove the padding in IE 10.
   */
  
  [type="checkbox"],
  [type="radio"] {
    box-sizing: border-box; /* 1 */
    padding: 0; /* 2 */
  }
  
  /**
   * Correct the cursor style of increment and decrement buttons in Chrome.
   */
  
  [type="number"]::-webkit-inner-spin-button,
  [type="number"]::-webkit-outer-spin-button {
    height: auto;
  }
  
  /**
   * 1. Correct the odd appearance in Chrome and Safari.
   * 2. Correct the outline style in Safari.
   */
  
  /**
   * 1. Correct the inability to style clickable types in iOS and Safari.
   * 2. Change font properties to `inherit` in Safari.
   */
  
  ::-webkit-file-upload-button {
    -webkit-appearance: button; /* 1 */
    font: inherit; /* 2 */
  }
  
  /* Interactive
     ========================================================================== */
  
  /*
   * Add the correct display in Edge, IE 10+, and Firefox.
   */
  
  details {
    display: block;
  }
  
  /*
   * Add the correct display in all browsers.
   */
  
  summary {
    display: list-item;
  }
  
  /* Misc
     ========================================================================== */
  
  /**
   * Add the correct display in IE 10+.
   */
  
  template {
    display: none;
  }
  
  /**
   * Add the correct display in IE 10.
   */
  
  [hidden] {
    display: none;
  }

  /* Generic */
 
body {
   margin: 0;
   font-style:normal;
   font-family: 'Montserrat', sans-serif;
}

h3 {
  font-size: 18px;
  line-height: 26px;
  font-weight: 700;
}

h1 {
  font-size: 48px;
  line-height: 56px;
  font-weight: 700;
}

h4 {
  font-size: 18px;
  font-weight: 700;
  line-height: 26px;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  box-sizing: content-box;
  display: block;
}

a:hover {
  cursor: pointer;
  text-decoration: underline;
}

button:hover {
  cursor: pointer;
}

button {
  border: none;
  font-weight: 700;
  font-family: inherit;
  font-style:inherit;
  font-size: 16px;
  border-radius: 4px;
  padding: 0px;
}

p, h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  color: #333;
}

ul {
  list-style: none;
}

h5 {
font-size: 16px;
font-weight: 700;
line-height: 24px;
}

.div {
  gap: 4px;
  display: flex;
  text-align: center;
}

.section-main__nav-item, .section-cards__card-field {
  padding: 6px 8px;
  border-radius: 24px;
  font-weight: 600;
  line-height: 20px;
  font-size: 16px;
}

.section-main__map-item, .section-cards__card-content-author, .section-cards__card-content-date {
  font-size: 12px;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: 0.25px;
  color: rgba(51, 51, 51, 0.70);
}

.header__main-nav-link:hover, .footer-section-bottom__link:hover, .footer-section-top__left-column-item:hover,
.art-main-base__tops-top:hover {
  text-decoration: underline;
}

hr {
width: 100%;
stroke-width: 1px;
stroke: #DEDEDE;
margin: 0px;
}

/*================= HEADER ==================*/

.header {
  border-bottom: 1px solid #EFF5FB;
}

.header-container {
  padding: 20px 32px;
}

.header__main, .header__main-sec, .header__main-sec-nav, .header__main-sec-nav-block {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__main-sec {
  width: 60%;
}

.header__main-sec-logo {
  margin-top: 8px;
}

.header__main-sec-nav-link {
  text-wrap: nowrap;
}

.header__main-sec-nav {
  width: 85%;
  padding: 14px;
  font-size: 14px;
  font-weight: 500;
}

.header__main-sec-nav-block > a {
  margin-right: 8px;
}

.header__main-butone {
  padding: 14px 20px;
  color: #03B2A5;
  background-color: #E3F5F5;
}

.header__main-buttwo {
  background-color: #FFF;
  width: 20px;
  height: 20px;
}

.header__burger {
  position: relative;
  overflow: hidden;
  right: 10px;
  bottom: 10px;
}

.header__main-butone:hover {
  color: #E3F5F5;
  background-color: #03B2A5;
}

/*======================MAIN =========================*/

.main-container {
  padding: 16px 32px 5vw 32px;
  flex-direction: column;
}

.button-psych:hover {
  color: #03B2A5;
  background-color: #E3F5F5;
}

/* --------main-base------------ */
.main-base {
  position: relative;
}

.background-img-base {
  position: absolute;
  right: 0px;
  top: 2404px;
}

.main-base-container {
  padding: 16px 32px 8vw 32px;
  flex-direction: column;
  gap: 54px;
  display: flex;
  max-width: 800px;
}

/* ----main-base-head------ */

.main-base-head {
  width: 100%;
}

/* ----main-base-body---- */

.main-base-body {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: fit-content;
  max-width: 1200px;
  box-sizing: content-box;
}

/* -art-main-base- */

.art-main-base, .art-main-base__chapts, .art-main-base__psychother, .art-main-base__psychother-quote,
.art-main-base__secli,
.art-main-base__secim,
.art-main-base__secimcont,
.art-main-base__secimconts,
.art-main-base__ex
 {
  display: flex;
  flex-direction: column;
}

.art-main-base {
  max-width: 60%;
  gap: 24px;
}

.art-main-base__secim-img, .art-main-base__swimming {
  width: 100%;
}

.art-main-base p {
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
}
.art-main-base__heading {
  color: #333;
  font-size: 48px;
  font-weight: 700;
  line-height: 56px;
}

.art-main-base__briefly {
  display: flex;
  align-items: center;
  gap: 8px;
}

.art-main-base__briefly > p {
  color: #494949;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
}

.art-main-base__chapts, .art-main-base__secli, .art-main-base__secim {
  gap: 16px;
}

.list-head {
  padding-left: 18px;
  margin: 0%;
}



.list-head > li {
  position: relative;
}


.list-head > li::before {
  content: '\2022';
  color: #03B2A5;
  font-size: 34px;
  left: -17px;
  top: -3px;
  position: absolute;
}

.art-main-base__chapt-item {
  margin-bottom: 8px;
  text-decoration-line: underline;
  text-decoration-thickness: 1px;
  text-underline-offset: 3px;
}

.art-main-base__chapts li:nth-child(3){
  margin-bottom: 14px;
}

.art-main-base__chapts li:last-child {
  margin-bottom: 0px;
}

.art-main-base li {
  font-size: 16px;
  font-weight: 500;
  line-height: 24px; 
}

.list-add > li {
  line-height: 2;
}

.art-main-base h3 {
  font-size: 24px;
  font-weight: 700;
  line-height: 32px;
}

.art-main-base__psychother {
  gap: 40px;
}

.art-main-base__psychother-descrip-h3 {
  margin-bottom: 16px;
}

.art-main-base__psychother-quote {
  gap: 8px;
  box-sizing: content-box;
  padding: 24px;
  border-radius: 16px;
  background-color: #F3F7FE;
}

.art-main-base__psychother-quote-p {
  background-image: url(../IMAGES/Q-marks.png);
  background-position: 0px 0px 46px 0px;
  background-repeat: no-repeat;
}

.art-main-base__secli-list-item {
  margin-bottom: 16px;
}

.art-main-base__secli-list-item:last-child {
  margin: 0px;
}

.art-main-base__secim-p {
  font-size: 14px;
  font-weight: 400;
  line-height: 130%; 
  letter-spacing: 0.25px;
  color: #868686;
}

.art-main-base__back-cloud {
  display: flex;
  align-items: center;
  height: 168px;
  width: 100%;
  justify-content: center;
  background-image: url(../IMAGES/Background-content.png);
  background-repeat: no-repeat;
  background-position: center;
}

.art-main-base__back-cloud-p {
  max-width:70%;
  text-align: center;
  font-style: italic;
  font-weight: 400;
}

.art-main-base__secimcont { 
  gap: 24px;
  width: 100%;
}

#firstrow {
  flex-direction: row;
  gap: 24px;
  width: 100%;
}

#column > img {
  width: 100%;

}
.art-main-base__lightning {
  margin: 0 auto;;
}

.art-main-base__ex {
  gap: 8px;
  box-sizing: content-box;
  padding: 24px;
  border-radius: 16px;
}

.ex-yellow {
  background-color: #FEFAEC;
}

.ex-green {
  background-color: rgba(3, 178, 165, 0.10);
}

.ex-red {
  background-color: #FFF3EB;
}

.art-main-base__tops {
  color: #2963A3;
}

.art-main-base__tops-top {
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  color: #2963A3;
}

/* as-main-base */

.as-main-base {
  display: grid;
  row-gap: 24px;
  grid-template-rows: auto auto auto auto;
  grid-template-columns: auto;
  height: 40%;
}

.as-main-base__cardmeet,
.as-main-base__cardpsych,
.as-main-base__cardses {
  box-sizing: content-box;
  padding: 24px;
}

.as-main-base > div {
  border-radius: 16px;
}
/*--card--*/

.card-but {
  width: 100%;
  background-color:#35B3A9;
  height: 48px;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px;
  font-family: 'Montserrat', sans-serif;
  color: #FFF;
}

.cardpsych__descrip, .cardpsych__descrip-cont,
.cardpsych__descrip-avatar,
.cardpsych-work,
.as-main-base__cardmeet,
.as-main-base__cardpsych,
.as-main-base__cardses
 {
  display: flex;
  flex-direction: column;
}

/* -cardcar- */
.as-main-base__cardcar {
  /* grid-area: car; */
  padding: 0px;
  grid-row: 3;
  background-color: #2963A3;
  background-image: url(../IMAGES/gifts-background.png);
  position: relative;
  overflow: hidden;
  height: auto;
  min-width: 100%;
}

.cardcar__h2 {
  color: #FFFFFF;
  margin: 60px auto 0 auto;
  width: fit-content;
  text-align: center;
  font-size: 32px;
  line-height: 40px;
}
.cardcar__contgiftthree {
  width: 100px;
  height: 140px;
  position: relative;
  bottom: -32px;
  /* left: 113px; */
  margin: 0 auto;
  left: 15px;
}

.cardcar__contgiftthree > img {
  position: absolute;
}

.cardcar__contgiftthree-red {
  transform: rotate(-90deg);
  z-index: 2;
  left: 95px;
  bottom: 7px;
}

.cardcar__contgiftthree-yellow{
  transform: rotate(90deg);
  z-index: 2;
  right: 85px;
  bottom: 12px;
}

.cardcar__contgiftthree-blue {
  z-index: 1;
  bottom: 10px;
}

/* -cardmeet- */
.as-main-base__cardmeet {
  /* grid-area: meet; */
  grid-row: 1;
  background-color: #E6F0FD;
  row-gap: 24px;
}

.as-main-base__cardmeet-cont-h4 {
  text-align: center;
  line-height: 24px;
  font-size: 18px;
  margin-bottom: 11px;
}

.as-main-base__cardmeet-cont-p {
  line-height: 20px;
  text-align: center; 
}

/* -cardses- */
.as-main-base__cardses {
  /* grid-area: ses; */
  grid-row: 4;
  border: 1px solid #DEDEDE;
  row-gap: 16px;
  position: relative;
  overflow: hidden;
}

.cardses-h4 {
  color: #2963A3;
}

.cardses-h4::first-letter {
  font-size: 24px;
  line-height: 32px;
}

.cardses-p {
  font-family: 'OpenSans';
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
}

.cardses-h3 {
  font-size: 24px;
  line-height: 32px;
}

.cardses-but {
  width: fit-content;
  padding: 12px 16px;
  color: #FFF;
  font-size: 16px;
  line-height: 24px;
  background-color: #03B2A5;
}

.cardses-contgifttwo {
  position: absolute;
  width: 10px;
  height: 10px;
  left: 160px;
  bottom: 75px;
}

.cardses-contgifttwo > img {
  position: absolute;
}

.cardses-contgifttwo-red {
  right: -70px;
}

.cardses-contgifttwo-yellow {
  bottom: -75px;
}


/* -cardpsych- */
.as-main-base__cardpsych  {
  /* grid-area: psych; */
  grid-row: 2;
  border: 1px solid #DEDEDE;
}

.cardpsych__descrip > div {
  margin-bottom: 16px;
}

/* descrip */

.cardpsych__descrip {
  border-bottom: 1px solid #DEDEDE;
}

.cardpsych__descrip > div {
  margin-bottom: 16px;
}

.cardpsych__descrip-avatar {
  position: relative;
  width: 100%;
  height: 120px;
  row-gap: 8px;
} 

.cardpsych__lilia {
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  position: center;
  z-index: 0;
  border-radius: 60px;
}

.cardpsych__descrip-avatar-div {
  position: relative;
  display: flex;
  width: fit-content;
  flex-direction: row;
  column-gap: 4px;
  border-radius: 6px;
  background-color: rgba(243, 244, 248, 0.70);
  z-index: 2;
  box-sizing: content-box;
  padding: 0 6px;
}

.cardpsych__descrip-cont {
  width: 100%;
}

.cardpsych__descrip-cont > p {
  text-align: center;
} 

.cardpsych__descrip-cont-profp {
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
}

.cardpsych__descrip-cont-namep {
  font-size: 20px;
  font-weight: 700;
  line-height: 28px;
}

.cardpsych__descrip-cont-expp {
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  color: #A2A7B1;
}

.cardpsych__descrip-cont-profp {
  margin-bottom: 4px;
}

/* work */

.cardpsych__work {
  width: 100%;
}

.cardpsych__work,
.cardpsych__work-but {
  margin-top: 16px;
}

.cardpsych__work-h5 {
  margin-bottom: 8px;
}

.cardpsych__work-list {
  padding-left: 18px;
}

.cardpsych__work-list-item {
  position: relative;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  margin-bottom: 8px;
}

.cardpsych__work-list-item::before {
  content: '\2022';
  color: #03B2A5;
  font-size: 44px;
  left: -17px;
  top: -3px;
  position: absolute;
}

/* --------main-indirect-------- */
.main-indirect-container {
 padding: 0px 32px 0px 32px;
}

.main-indirect {
  position: relative;
}

.background-img-indirect {
  position: absolute;
  right: 0px;
  bottom: 116px;
}

.main-indirect__content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  margin-top: 72px;
  margin-bottom: 26px;
}

.main-indirect__content-selection {
 display: flex;
 flex-direction: column;
 height: fit-content;
}

.selection-but {
  background-color:#35B3A9;
  padding: 20px 24px;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  font-family: 'Montserrat', sans-serif;
  color: #FFF;
  width: fit-content;
}

.selection-h1 {
  padding-bottom: 24px;
}

.selection-p {
  padding-bottom: 32px;
}

.main-indirect__content-img {
  margin-right: 30px;
}

/*-------------section-main, .main-base-head----------------*/

.section-main__map, .section-main__nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.main-base-head__map {
  gap: 8px;
  display: flex;
  align-items: center;
}

.section-main__map {
  gap: 8px;
  width: fit-content;
}

.main-base-head__map-item:nth-last-child(1) {
  overflow: hidden;
  text-overflow: ellipsis;
}

.section-main__map-item, .main-base-head__map-item {
  color: rgba(51, 51, 51, 0.70);
  text-align: center;
  font-size: 12px;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: 0.25px;
  white-space: nowrap;
}

.section-main__map-arrow, .main-base-head__map-arrow {
  width: 16px;
  height: 16px;
  color: #535353;;
}

.section-main__blog {
  margin-top: 3vw;
}

.section-main__nav {
  flex-wrap: wrap;
  margin-top: 3vw;
  margin-bottom: 26px;
  gap: 3px;
  justify-content: flex-start;
}
.section-main__nav-item {
  border: 2px solid #C1C5CD;
  text-wrap: nowrap;
}

.section-main__nav-item:active {
  border-color: #16C8BB;
}

.section-main__nav-item:nth-child(3) {
  border-color: #16C8BB;
}
/*---------Section-cards------ */

/* Name-card */
.post-o { grid-area: one ; }
.post-t { grid-area: two; }
.post-th { grid-area: th; }
.post-f { grid-area: f; }
.post-fi { grid-area: fi; }
.post-s { grid-area: s; }
.post-sev { grid-area: sev; }
.post-e { grid-area: e; }

 .section-cards {
  display: grid;
  grid-template-areas: 
  "one one one two two two"
  "th th f f fi fi"
  "s s sev sev e e";
  grid-gap: 1em;
} 

.section-cards__card {
  display: flex;
  border: 1px solid #DEDEDE;
  flex-direction: column;
  border-radius: 16px;
  min-height: 550px;
}

/* Back-Img-cards */
.eggs { background-image: url(../IMAGES/Eggs.png); }
.run { background-image: url(../IMAGES/run.png); }
.burnout { background-image: url(../IMAGES/burnout.png); }
.swim { background-image: url(../IMAGES/Swimming.png); }
.square { background-image: url(../IMAGES/Angree_square.png); }
.notebook-one { background-image: url(../IMAGES/notebook-one.png);}
.notebook-two { background-image: url(../IMAGES/notebook-two.png);}
.communication {  background-image: url(../IMAGES/communication.png);}

.section-cards__card-img, .section-cards__card-content {
  display: flex;
  flex-direction: column;
  box-sizing: content-box;
}

.section-cards__card-field {
  background: rgba(255, 255, 255, 0.70);
  width: fit-content;
}

.section-cards__card-img {
  gap: 8px;
  padding: 8px;
  border-radius: 16px 16px 0px 0px;
  background-size:cover;
  background-repeat: no-repeat;
  background-position: center;
  min-height: 40%;
}

.section-cards__card-content {
  padding: 16px;
  height: 100%;
}

.section-cards__card-content-author, .section-cards__card-content-topic {
  flex-grow: 1;
}

.section-cards__card-content-cont {
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  flex-grow: 4;
}

.main__button {
  background-color: #35B3A9;
  margin: 3vw auto 0px auto;
  color: #FFFFFF;
  width: 182px;
  height: 48px;
}

.main__button:active {
  color: #03B2A5;
  background-color: #E3F5F5;
}

/* ==================FOOTER====================== */
.footer {
  background-color: #2963A3;
  color: #FFFFFF;
}

.footer-container {
  padding: 2vw 32px 16px 32px;
}

.footer-section-top, .footer-section-top__left, .footer-section-bottom {
  display: flex;
  flex-direction: row;
  box-sizing: content-box;
}

/* --------------section-top------------ */
.column {
  display: flex;
  flex-direction: column;
}

.footer-section-top {
  justify-content: space-between;
  border-bottom: 1px solid #9D9D9D;
  flex-wrap: wrap;
}

  .column {
  margin-bottom: 20px;
}

/* top-left */
.footer-section-top__left-column-item > a {
  color:#FFFFFF;
  text-wrap: nowrap;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px;
}

.footer-section-top__left-column {
  gap: 16px;
}

.footer-section-top__left-column:first-child {
  margin-right: 30px;
}

/* top-middle */
.footer-section-top__middle {
  gap: 6px;
}

.footer-section-top__middle-email {
  width: fit-content;
  display: flex;
  align-items: center;
}

.footer-section-top__middle-condition {
  font-size: 12px;
  font-weight: 400;
  line-height: 18px; /* 150% */
  letter-spacing: 0.25px;
  color: #FFFFFF;
}

.footer-section-top__middle-description {
  color: #FFFFFF;
}

.footer-section-top__middle-email-inp {
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  width: 322px;
  padding: 14px 16px;
  border-radius: 4px;
  border: none;
}
.footer-section-top__middle-email-but {
  border-radius: 4px;
  background: #16C8BB;
  box-sizing: content-box;
  height: fit-content;
  padding: 12px 16px;
  position: absolute;
  margin-left: 330px;
}

.footer-section-top__middle-email-but > img {
  width: 24px;
  height: 20px;
}
/* top-right */
.footer-section-top__right {
  justify-content: flex-start;
}

.flex-grow-one:first-child {
  margin-bottom: 45px;
}

.flex-grow-one:last-child {
  gap: 16px;
  display: flex;
}

.icon {
  width: 32px;
  height: 32px;
  background-color: #EFF5FB;
  border-radius: 60px;
  align-items: center;
  justify-content: center;
  display: flex;
}

/* --------------------section-bottom--------- */
 .footer-section-bottom {
  gap: 48px;
  margin-top: 16px;
 }

 .footer-section-bottom > a {
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  opacity: 0.7;
  color: #FFF;
 }
/* ================media================= */

@media (min-width: 1024px) {
  /*header*/
  .header__main-buttwo {
    display: none
  }

  /* main */
  .eggs, .run {
    min-height: 50%;
  }

  /* .as-main-base */
}

@media (max-width: 1070px) {
  /* header */
  #header__main-sec {
    min-width: 40px;
  }
  
  /* main */
 .main-indirect, .background-img-base, .main-interlayer, .art-main-base__tops {
  display: none;
 }
  
}

@media (min-width: 1070px) {
  /* header */
  .sertif {
    display: none;
  }

  /* .as-main-base  */
  .as-main-base > div{
    grid-column: 1 \ 2;
    max-width: 18vw;
  }
}

@media (max-width: 1070px ) and (min-width: 700px) {
  /* header */
   .header__main-sec, .art-main-base {
    min-width: 700px;
  }
  /* main; */
  .main-base-body {
    gap: 24px;
  }
}

@media (max-width: 1024px) {
  /* header */
  .header__main-butone, .header__main-sec-nav {
    display: none;
  }

  /* main */
  .main-base-body {
    flex-direction: column;
    justify-content: none;
  }

  /* .art-main-base */
  .art-main-base {
    min-width: 100%;
  }

}

@media (max-width: 1024px) and (min-width: 700px) {
  /* main */
  .section-cards {
    grid-template-areas: 
    "one one one one"
    "two two two two" 
    "th th f f"
    "fi fi s s"
    "sev sev e e";
  }

  .eggs, .run {
    min-height: 60%;
  }

  .main-base-body {
    gap: 24px;
  }

  /* as-main-body */
  .as-main-base {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto 1fr;
    column-gap: 16px;
    row-gap: 36px;
    /* min-width: 100%; */
  }

  .as-main-base__cardcar {

    grid-row: 2;
    grid-column: 1 \ 2;
  }

  .as-main-base__cardmeet {
    grid-row: 1;
    grid-column: 1 \ 2;
  }

  .as-main-base__cardpsych {
    grid-row: 1;
    grid-column: 2 \ 3;
  }

  .as-main-base__cardses {
    grid-row: 2;
    grid-column: 2 \ 3;
  }
}

@media (max-width: 700px) {
  /* main */
  .section-main__nav {
    flex-wrap: nowrap;
    gap: 8px;
    overflow-x: visible;
    overflow-x: auto;
  }

  .section-cards {
    grid-template-areas: 
    "one"
    "two" 
    "th"
    "f";
  }
  
  .post-fi, .post-s, .post-sev, .post-e {
    display: none;
  }

  #firstrow {
    flex-direction: column;
  }

  [alt="Woman"] {

  }
  /* footer */
  br {
    display: none;
  }

  .footer-section-bottom {
    flex-direction: column;
  }
}

@media (max-width: 450px) {
  /* main; */
  .main-base-body {
    gap: 3vw;
  }

  /* footer */
  .footer-section-top__middle-email-but {
    display: none;
  }

  .footer-section-top__middle-email {
    width: 100%;
  }

  .footer-section-top__middle-email-inp {
    width: 100%;
  }

  .footer-section-top__middle {
    margin-bottom:  0px;
  }
}